#Al fani zahrah
#D0221109
#Informatika H

#TYPE DATA PADA PYTHON

#variabel

#contoh

In [ ]:
nama = "al fani zahrah"
print(nama)
print(type(nama))

al fani zahrah
<class 'str'>

In [ ]:
umur = 18
print(umur)
print(type(umur))

18
<class 'int'>

In [ ]:
tinggi = 1.50
print(tinggi)
print(type(tinggi))

1.5
<class 'float'>

In [ ]:
angka = 8<11
print(angka)
print(type(angka))

True
<class 'bool'>

#operator aritmatika

#contoh

In [ ]:
nilai1 = 8
nilai2 = 4
print(nilai1 + nilai2)
print(nilai1 - nilai2)
print(nilai1 * nilai2)
print(nilai1 / nilai2)
print(nilai1 % nilai2)
print(nilai1 ** nilai2)
print(nilai1 // nilai2)

12
4
32
2.0
0
4096
2

#operator penugasan

contoh

In [ ]:
nilai = 4
nilai += 8
print(nilai)

12

#operator perbandingan

#contoh

In [ ]:
nilai = 4
if nilai != 5:
  print("nilai tersebut bukan 4")

nilai tersebut bukan 4

#percabangan if else

#contoh

In [ ]:
nilai = 90
if nilai > 60 :
  print("lulus")
else:
  print("tidak lulus")

lulus

percabangan if

In [ ]:
nilai = 85
if (nilai >= 80):
  print("Nilai A")

Nilai A

#percabangan elif

In [ ]:
umur = 20
if (umur > 18 and umur < 30):
  print("sudah Beranjak Dewasa")
elif(umur >= 30 and umur < 45):
  print("masa masa emas")
elif (umur >= 45 and umur < 55):
  print("masa paruh baya")
elif(umur >= 55):
  print("masa manula")
else:
  print("masih dibawah umur")

sudah Beranjak Dewasa

#contoh kasus

In [ ]:
nama = "al fani zahrah (D0217011)"
gaji_pokok = 1000000
gaji_lembur = 5000
lama_lembur = 11
jumlah_lembur = 5000*11
gaji_kotor = gaji_pokok = jumlah_lembur
pajak = 10/100
potongan = int(pajak * gaji_pokok)
gaji_bersih = int(gaji_kotor - potongan)
print("nama                    :", nama)
print("gaji pokok              : Rp ",gaji_pokok)
print("gaji lembur             : Rp ",jumlah_lembur)
print("gaji kotor              : Rp ",gaji_kotor)
print("pajak                   : Rp ",pajak)
print("potongan                : Rp ",potongan)
print("gaji bersih             : Rp ",gaji_bersih)

nama                    : al fani zahrah (D0217011)
gaji pokok              : Rp  55000
gaji lembur             : Rp  55000
gaji kotor              : Rp  55000
pajak                   : Rp  0.1
potongan                : Rp  5500
gaji bersih             : Rp  49500