#membuat contoh list

In [ ]:
nama = ["dani","rani","fira","fani"]
for i in nama:
  print(i)

dani
rani
fira
fani

#mengupdate/mengganti nilai pada list

In [ ]:
nama[2] = "indah"
print(nama)

['dani', 'rani', 'indah', 'fani']

#menghapus elemen pada list dengan nama

In [ ]:
nama.remove("fani")
print(nama)

['dani', 'rani', 'indah']

#menambahkan nilai pada akhir data

In [ ]:
nama.append("tika")
print(nama)

['dani', 'rani', 'indah', 'tika']

#contoh tuple

In [ ]:
buah = ("durian","apel","anggur","mangga")
for i in buah:
  print(i)

durian
apel
anggur
mangga

#menghapus salah satu tuple

In [ ]:
buah = list(buah)
buah.remove("apel")
print(buah)

['durian', 'anggur', 'mangga']

#menambah isi tuple

In [ ]:
buah.append("jeruk")
print(buah)

['durian', 'anggur', 'mangga', 'jeruk']

#mengupdate salah satu tuple pada indeks ke-2

In [ ]:
buah[2] = "jambu"
print(buah)

['durian', 'anggur', 'jambu', 'jeruk']

#contoh set

In [ ]:
hp = {"oppo", "samsung", "realmi"}
for i in hp:
  print(i)

samsung
realmi
oppo

#mengupdate nilai set

In [8]:
hp = {"oppo", "samsung", "realmi"}
hp = list(hp)
hp[2] = "iphone"
print(hp)

['samsung', 'oppo', 'iphone']

# menghapus nilai set dengan remove

In [ ]:
hp.remove("samsung")
print(hp)

{'realmi', 'iphone', 'Vivo', 'oppo'}

#menambah nilai kedalam set

In [ ]:
hp.add("mito")
print(hp)

{'mito', 'realmi', 'iphone', 'Vivo', 'oppo'}

#contoh dictionary

In [ ]:
dataku = {
    "nama": "AlFaniZahra",
    "umur": 18,
    "alamat": "Campa",
    "tahunLahir": 2003,
    "warna": "pink",
    "hobi": "makan",
    "teman": ["putri","aulia","Rani"]
}

for i in dataku:
    print(i, "->", dataku[i])

nama -> AlFaniZahra
umur -> 18
alamat -> Campa
tahunLahir -> 2003
warna -> pink
hobi -> makan
teman -> ['putri', 'aulia', 'Rani']

# mengganti nilai

In [ ]:
dataku["hobi"] = "menari"
print(dataku)

{'nama': 'AlFaniZahra', 'umur': 18, 'alamat': 'Campa', 'tahunLahir': 2003, 'warna': 'pink', 'hobi': 'menari', 'teman': ['putri', 'aulia', 'Rani']}

# menghapus dengan del yaitu => nama

In [ ]:
del dataku["teman"]
print(dataku)

{'nama': 'AlFaniZahra', 'umur': 18, 'alamat': 'Campa', 'tahunLahir': 2003, 'warna': 'pink', 'hobi': 'menari'}

# update nilai atau menambah

In [ ]:
dataku.update({"nama_panggilan": "fani"})
print(dataku)

{'nama': 'AlFaniZahra', 'umur': 18, 'alamat': 'Campa', 'tahunLahir': 2003, 'warna': 'pink', 'hobi': 'menari', 'nama_panggilan': 'fani'}