#membuat contoh list

In [ ]:
nama = ["dani","rani","fira","fani"]
for i in nama:
  print(i)

dani
rani
fira
fani

#mengupdate/mengganti nilai pada list

In [ ]:
nama[2] = "indah"
print(nama)

['dani', 'rani', 'indah', 'fani']

#menghapus elemen pada list dengan nama

In [ ]:
nama.remove("fani")
print(nama)

['dani', 'rani', 'indah']

#menambahkan nilai pada akhir data

In [ ]:
nama.append("tika")
print(nama)

['dani', 'rani', 'indah', 'tika']

#contoh tuple

In [ ]:
buah = ("durian","apel","anggur","mangga")
for i in buah:
  print(i)

durian
apel
anggur
mangga

#menghapus salah satu tuple

In [ ]:
buah = list(buah)
buah.remove("apel")
print(buah)

['durian', 'anggur', 'mangga']

#menambah isi tuple

In [ ]:
buah.append("jeruk")
print(buah)

['durian', 'anggur', 'mangga', 'jeruk']

#mengupdate salah satu tuple pada indeks ke-2

In [ ]:
buah[2] = "jambu"
print(buah)

['durian', 'anggur', 'jambu', 'jeruk']

#membuat contoh dictionary

In [29]:
dataku = {
    "nama": "AlFaniZahrah",
    "umur": 18,
    "alamat": "Campa",
    "tahunLahir": 2003,
    "warna": "pink",
    "hobi": "makan",
    "teman": ["putri","aulia","Rani"]
}

for i in dataku:
    print(i, "->", dataku[i])

nama -> AlFaniZahrah
umur -> 18
alamat -> Campa
tahunLahir -> 2003
warna -> pink
hobi -> makan
teman -> ['putri', 'aulia', 'Rani']

#mengganti nilai

In [30]:
dataku["hobi"] = "menari"
print(dataku)

{'nama': 'AlFaniZahrah', 'umur': 18, 'alamat': 'Campa', 'tahunLahir': 2003, 'warna': 'pink', 'hobi': 'menari', 'teman': ['putri', 'aulia', 'Rani']}

#menghapus dengan del yaitu => nama

In [31]:
del dataku["teman"]
print(dataku)

{'nama': 'AlFaniZahrah', 'umur': 18, 'alamat': 'Campa', 'tahunLahir': 2003, 'warna': 'pink', 'hobi': 'menari'}

#update nilai atau menambah

In [32]:
dataku.update({"nama_panggilan": "fani"})
print(dataku)

{'nama': 'AlFaniZahrah', 'umur': 18, 'alamat': 'Campa', 'tahunLahir': 2003, 'warna': 'pink', 'hobi': 'menari', 'nama_panggilan': 'fani'}

#membuat contoh set

In [53]:
hp = {"oppo", "samsung", "realmi"}
for i in hp:
  print(i)

samsung
realmi
oppo

#mengupdate nilai set

In [54]:
hp.update ({"iphone","vivo"})
print(hp)

{'samsung', 'realmi', 'vivo', 'iphone', 'oppo'}

#menghapus nilai dengan remove

In [55]:
hp.remove("samsung")
print(hp)

{'realmi', 'vivo', 'iphone', 'oppo'}

#menambah nilai kedalam set

In [56]:
hp.add("mito")
print(hp)

{'realmi', 'vivo', 'mito', 'iphone', 'oppo'}